@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<Current>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-hover">
    <tr>
        <th>Cari ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Mail</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.CurrentId</td>
            <td>@x.CurrentName</td>
            <td>@x.CurrentSurname</td>
            <td>@x.CurrentCity</td>
            <td>@x.CurrentMail</td>
            <td><a href="/Current/CurrentDelete/@x.CurrentId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Current/CurrentEdit/@x.CurrentId" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Current/CustomerSales/@x.CurrentId" class="btn btn-info" style="background-color:lightblue; color:black">Satış Geçmişi</a></td>
        </tr>
    }
</table>
<a href="/Current/CurrentAdd" class="btn btn-primary">Yeni Cari Ekle</a>
