@model MvcOnlineTicariOtomasyon.Models.Classes.SalesTransaction
@{
    ViewBag.Title = "MakeSale";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Satış Yap</h2>
<br />
<form class="form-group" method="post">
    @Html.Label("Ürün ID : ")
    <input type="text" name="ProductID" value="@ViewBag.val1" class="form-control" readonly />
    <br />
    @Html.Label("Personel ID : ")
    @Html.DropDownListFor(x => x.PersonnelID, (List<SelectListItem>)ViewBag.val3, new { @class = "form-control" })
    <br />
    @Html.Label("Cari ID : ")
    @Html.TextBoxFor(x => x.CurrentID, new { @class = "form-control" })
    <br />
    @Html.Label("Adet : ")
    <input type="number" class="form-control" max="10" min="0" placeholder="Adet Giriniz..." id="txt1" onchange="sum();" name="SalesPiece" />
    @*@Html.TextBoxFor(x => x.SalesPiece, new { @class = "form-control" })*@
    <br />
    @Html.Label("Fiyat : ")
    <input type="text" name="SalesPrice" value="@ViewBag.val2" class="form-control" id="txt2" onkeyup="sum();" />
    <br />
    @Html.Label("Toplam Tutar : ")
    <input type="text" name="SalesTotalAmount" class="form-control" value="0" max="10" min="0" id="txt3" readonly />
    @*@Html.TextBoxFor(x => x.SalesTotalAmount, new { @class = "form-control" })*@
    <br />
    <button class="btn btn-primary">Satış Yap</button>
</form>
<br />



<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    function sum() {
        var sayi1 = document.getElementById('txt1').value;
        var sayi2 = document.getElementById('txt2').value;
        var sonuc = parseInt(sayi1) * parseInt(sayi2);
        if (!isNaN(parseInt(sonuc))) {
            document.getElementById('txt3').value = sonuc;
        }

    }
</script>