@model MvcOnlineTicariOtomasyon.Models.Classes.SalesTransaction
@{
    ViewBag.Title = "SalesAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Satış Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.Label("Ürün : ")
    @Html.DropDownListFor(x => x.ProductID, (List<SelectListItem>)ViewBag.val1, new { @class = "form-control" })
    <br />
    @Html.Label("Cari : ")
    @Html.DropDownListFor(x => x.CurrentID, (List<SelectListItem>)ViewBag.val2, new { @class = "form-control" })
    <br />
    @Html.Label("Personel : ")
    @Html.DropDownListFor(x => x.PersonnelID, (List<SelectListItem>)ViewBag.val3, new { @class = "form-control" })
    <br />
    @Html.Label("Adet : ")
    @Html.TextBoxFor(x => x.SalesPiece, new { @class = "form-control" })
    <br />
    @Html.Label("Fiyat : ")
    @Html.TextBoxFor(x => x.SalesPrice, new { @class = "form-control" })
    <br />
    @Html.Label("Toplam Tutar : ")
    @Html.TextBoxFor(x => x.SalesTotalAmount, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Satış Yap</button>
</form>

