@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<CargoDetail>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kargolar</h2>
<br />
@using (Html.BeginForm("Index", "Cargo", FormMethod.Get))
{
    <p>
        Kargo Takip Numarası: @Html.TextBox("p")
        <input type="submit" value="Ara" style="width: 85px; background-color: lightseagreen; color:white" />
    </p>
}
<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>Personel</th>
        <th>Alıcı</th>
        <th>Tarih</th>
        <th>Takip Kodu</th>
        <th>Detaylar</th>
        <th>QR Kod</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Personnel</td>
            <td>@x.Buyer</td>
            <td>@x.Datetime</td>
            <td>@x.TrackingCode</td>
            <td><a href="/Cargo/CargoTracking/@x.TrackingCode" class="btn btn-default" style="background-color:lightseagreen; color:white">Detaylar</a></td>
            <td><a href="/Cargo/QrCode/@x.TrackingCode" class="btn btn-default" style="background-color:lightslategrey; color:white">QR</a></td>
        </tr>
    }
</table>
<a href="/Cargo/CargoAdd" class="btn btn-primary">Yeni Kargo Girişi</a>
